frontend/public/Downloads/AddTicketResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="Ticket.xsd"/>
  <xs:include schemaLocation="GenericResponse.xsd"/>
  <xs:complexType name="TpsAddTicketResponse">
    <xs:choice>
      <xs:element name="Error" type="TpsError"></xs:element>
      <xs:element name="TicketSummary" type="TpsTicketSummary" maxOccurs="1"></xs:element>
      <xs:element name="Ticket" type="TpsTicket" maxOccurs="1"></xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:element name="AddTicketResponse" type="TpsAddTicketResponse"></xs:element>
</xs:schema>
